* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}
.nav-bar {
  background-color: green;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
  align-items: center;
}

.logo,
.nav-link {
  color: #fff;
  text-decoration: none;
}
.nav-link {
  padding: 0 15px;
}
.logo {
  display: inline;
}
